{% extends "base.html" %}

{% block content %}

<div class="animated fadeIn text-muted">

    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
        <strong>
            {{message}}
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <!--------------------------------- PREPROCESSING --------------------------------->

    <h3 class="eda_heading">DATA PREPROCESSING</h3>
    <hr class="solid" style="border-top: 3px dotted #bbb">

    <!--------------------------------- TARGET COLUMN --------------------------------->

    <form method="POST">

        {% csrf_token %}
        <ul>
            <li><label><b>Select the column you want to predict : </b></label>
                <select id="dep_var" name="dep_var_name">
                    {% for col in df_cols %}
                    <option value="{{col}}" name="response">{{col}}</option>
                    {% endfor %}
                </select>
            </li>
        </ul>
        <br>

        <!--------------------------------- DROPPING COLUMNS --------------------------------->
        <ul>
            <li>
                <label><b>Select the columns you want to drop: </b></label>
                <div class="checkbox">
                    {% for col in df_cols %}
                    <label for="{{ forloop.counter0 }}">
                        <input type="checkbox" value="{{col}}" name="checkbox_name"
                               id="{{ forloop.counter0 }}"/>&nbsp;{{col}}&nbsp;&nbsp;&nbsp;</label>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <br>

        <!--------------------------------- HANDLE NAN VALUES --------------------------------->

        {% if string_cols or nan_columns %}
        <ul>
            <li><label><b>Handle NULL values in dataset<a class="button" href="#popup1">&#9432;</a></b></label></li>
                <div id="popup1" class="overlay">
                    <div class="popup">
                        <h4>Information about replacing null values</h4>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <ul>
                                <li><h6><b>bfill</b>: Replaces null values with previous value</h6></li>
                                <li><h6><b>ffill</b>: Replaces null values with next value</h6></li>
                                <li><h6><b>0</b>: Replaces null values with 0</h6></li>
                                <li><h6><b>delete records</b>: Deletes all the null value rows</h6></li>
                                <li><h6><b>mean</b>: Replaces null values with mean value (works with numerical data)</h6></li>
                                <li><h6><b>median</b>: Replaces null values with median value (works with numerical data)</h6></li>
                            </ul>
                        </div>
                    </div>
                </div>

                {% if string_cols %}
                    <table>
                        {% for str_col, str_col_count in string_cols %}
                        <tr>
                            <td><label><b>{{ str_col }} {{ str_col_count }}</b></label></td>
                            {% for str_way in list_handle_nan_str_values %}
                            <td>
                                <div>
                                    <input type="radio" id="{{str_way}}" name="{{str_col}}" value="{{str_way}}"
                                           required>
                                    <label for="{{str_way}}">{{str_way}}</label><br>
                                </div>
                                {% endfor %}
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                {% endif %}

                <br>

                {% if nan_columns %}
                    <table>
                        {% for null_column, null_column_count in nan_columns %}
                        <tr>
                            <td><label><b>{{ null_column }} {{ null_column_count }}</b></label></td>
                            {% for way in list_handle_nan_values %}
                            <td>
                                <div>
                                    <input type="radio" id="{{way}}" name="{{null_column}}" value="{{way}}" required>
                                    <label for="{{way}}">{{way}}</label><br>
                                </div>
                                {% endfor %}
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                {% endif %}
        </ul>
        {% endif %}

        <br>

        <!--------------------------------- TRAIN TEST SPLIT --------------------------------->

        <div class="slidecontainer">
            <ul>
                <div id="train_ratio" class="value">70 %</div>
                <li><label><b>Train and Test split ratio: </b></label>
                    <input type="range" min="1" max="99" value="70" name="slider_value" class="slider" id="myRange">
                    <br>
                    <br>
                </li>
            </ul>
        </div>
        <button style="display: block; margin: 5% auto;" type="submit" class="btn btn-primary btn-sm">choose model</button>
        <br>
    </form>

    <div style="padding-top:10%;" class="flex-center flex-column">
        <h5 class="animated fadeIn mb-3">Ammar Fitwalla - Neo-moment</h5>
    </div>
</div>


<script>
var slider = document.getElementById("myRange");
var train_ratio = document.getElementById("train_ratio");
train_ratio.innerHTML = slider.value + " %";

slider.oninput = function() {
train_ratio.innerHTML = this.value + " %";
}


var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
</script>

<style>
.box {
width: 40%;
margin: 0 auto;
background: rgba(255,255,255,0.2);
padding: 50px;
border: 2px solid #fff;
border-radius: 20px/50px;
background-clip: padding-box;
text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #eb5c5c;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 40%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
</style>

{% endblock %}
