{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="animated fadeIn text-muted">

    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
        <strong>
            {{message}}
        </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <!--------------------------------- PREPROCESSING --------------------------------->

    <h3 class="eda_heading" style="margin-bottom:2%;">DATA PRE-PROCESSING</h3>

    <!--------------------------------- TARGET COLUMN --------------------------------->

    <form method="POST" id="form-id">
        {% csrf_token %}
        <div class="card">
            <ul>
                <li><label><b>Select the column you want to predict : </b></label>
                    <select id="dep_var" name="dep_var_name">
                        {% for col in df_cols %}
                        <option value="{{col}}" name="response">{{col}}</option>
                        {% endfor %}
                    </select>
                </li>
            </ul>
        </div>

        <!--------------------------------- DROPPING COLUMNS --------------------------------->
        <div class="card">
        <ul>
            <li>
                <label><b>Select the columns you want to drop: </b></label>
                <div class="checkbox">
                    {% for col in df_cols %}
                    <label for="{{ forloop.counter0 }}">
                        <input type="checkbox" value="{{col}}" name="checkbox_name"
                               id="{{ forloop.counter0 }}"/>&nbsp;{{col}}&nbsp;&nbsp;&nbsp;</label>
                    {% endfor %}
                </div>
            </li>
        </ul>
        </div>

        <!--------------------------------- HANDLE NAN VALUES --------------------------------->

        {% if string_cols or nan_columns %}
        <div class="card">
            <ul>
                <li><label><b>Handle NULL values in dataset<a class="button" href="#popup1">&#9432;</a></b></label></li>
            </ul>
            {% if string_cols %}
                <table>
                    {% for str_col, str_col_count in string_cols %}
                    <tr>
                        <td><label><b>{{ str_col }} {{ str_col_count }}</b></label></td>
                        {% for str_way in list_handle_nan_str_values %}
                        <td>
                            <div>
                                <input type="radio" id="{{str_way}}" name="{{str_col}}" value="{{str_way}}"
                                       required>
                                <label for="{{str_way}}">{{str_way}}</label>
                            </div>
                            {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            <br>
            {% endif %}

            {% if nan_columns %}
                <table>
                    {% for null_column, null_column_count in nan_columns %}
                    <tr>
                        <td><label><b>{{ null_column }} {{ null_column_count }}</b></label></td>
                        {% for way in list_handle_nan_values %}
                        <td>
                            <div>
                                <input type="radio" id="{{way}}" name="{{null_column}}" value="{{way}}" required>
                                <label for="{{way}}">{{way}}</label><br>
                            </div>
                            {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            {% endif %}
        </div>
        {% endif %}

        <!--------------------------------- TRAIN TEST SPLIT --------------------------------->
        <div class="slidecontainer">
        <div class="card">
            <ul>
                <div id="train_ratio" class="value">70 %</div>
                <li><label><b>Train and Test split ratio: </b></label>
                    <input type="range" min="1" max="99" value="70" name="slider_value" class="slider" id="myRange">
                </li>
            </ul>
        </div>
        </div>
        <button style="display: block; margin: 5% auto;" type="submit" class="btn btn-primary btn-sm">choose model</button>
    </form>
</div>
<div id="overlay" style="display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.6); z-index: 2; cursor: pointer;">
    <img id="loader" src="{% static 'img/loader_3.gif' %}" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: auto; height: auto; max-width: 100%; max-height: 100%;">
</div>

<p class="footer-heart">
  Made with <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
<img class="emoji" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"></g-emoji> | <a href="https://armin.id">ammarfitwalla</a>
</p>

<div id="popup1" class="overlay">
    <div class="popup">
        <h4>Information about replacing null values</h4>
        <a class="close" href="#">&times;</a>
        <div class="content">
            <ul>
                <li><h6><b>bfill</b>: Replaces null values with previous value</h6></li>
                <li><h6><b>ffill</b>: Replaces null values with next value</h6></li>
                <li><h6><b>0</b>: Replaces null values with 0</h6></li>
                <li><h6><b>delete records</b>: Deletes all the null value rows</h6></li>
                <li><h6><b>mean</b>: Replaces null values with mean value (works with numerical data)</h6></li>
                <li><h6><b>median</b>: Replaces null values with median value (works with numerical data)</h6></li>
            </ul>
        </div>
    </div>
</div>

<script>
var slider = document.getElementById("myRange");
var train_ratio = document.getElementById("train_ratio");
train_ratio.innerHTML = slider.value + " %";

slider.oninput = function() {
train_ratio.innerHTML = this.value + " %";
}


var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
</script>

<style>
.box {
width: 40%;
margin: 0 auto;
background: rgba(255,255,255,0.2);
padding: 50px;
border: 2px solid #fff;
border-radius: 20px/50px;
background-clip: padding-box;
text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #eb5c5c;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 45%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 40%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border-radius: 10px;
    padding: 1.1%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-color: #445e78!important;
    border-top: medium;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>

<script>
// Show the preloader when the page is being unloaded (refreshed)
window.onbeforeunload = function() {
    document.getElementById('overlay').style.display = 'block';
};

// Hide the preloader when the page is fully loaded
window.onload = function() {
    document.getElementById('overlay').style.display = 'none';
};
</script>

{% endblock %}
