{% extends "base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
    <strong>
        {{message}}
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<div class="animated fadeIn text-muted">
    <h3 class="eda_heading">EXPLORATORY DATA ANALYSIS</h3>
    <br>
    <ul>

        <li><label>Your data has <b>{{ df_n_rows }} rows</b> and <b>{{ df_n_cols }} columns</b> </label></li>
        <br>
        <li><label>The column names are: </label>
            {% for col in df_cols %}
            <label><h5><b>{{col}}, </b></h5></label>
            {% endfor %}
        </li>
        <br>
        <li><h5>Below table shows first 5 rows your data</h5>
            {% if df_html %}
            <div>
                {{df_html | safe}}
            </div>
            {% endif %}
        </li>


        <li><h5>Below table displays short description about your data</h5>
            {% if df_describe_html %}
            <div>
                {{df_describe_html | safe}}
            </div>
            {% endif %}
        </li>
        <br>
    </ul>

    <div class="container" style="float:center;">

        {% for graph in png_files_path %}
        {% if png_files_path %}
        <div class="imgContainer" style="float:centre;">
            <img src="../../media/{{graph}}" style="width:70%">
<!--            <img src="{{graph}}" style="width:70%">-->
            <br>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm">Start Preprocessing</button>
    </form>
<br>
</div>

<style xmlns="http://www.w3.org/1999/html">

.eda_heading{
color: black;
font-family: Didot, serif;
font-size: 30px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
text-align: center;
}
label{
font-size:20px;
}

</style>

{% endblock %}

