{% extends "base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
    <strong>
        {{message}}
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<div class="animated fadeIn text-muted">
    <h3 class="eda_heading" style="margin-bottom:30px;">EXPLORATORY DATA ANALYSIS (EDA)</h3>
    <div class="card">
        <ul>
            <li><label>Your data has <b>{{ df_n_rows }} rows</b> and <b>{{ df_n_cols }} columns</b> </label></li>
            <li><label>The column names are: </label>
                {% for col in df_cols %}
                <label><b>{{col}}, </b></label>
                {% endfor %}
            </li>
        </ul>
    
    </div>

    <div class="card">
    <h4 class="eda_heading" style="margin:10px;">10 DATASET ROWS</h4>
        {% if df_html %}
        <div>
            {% for df in df_html %}
            {{df | safe}}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="card">
        <h4 class="eda_heading" style="margin:10px;">SHORT DESCRIPTION</h4>
        {% if df_describe_html %}
        <div>
            {% for df in df_describe_html %}
            {{df | safe}}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="container" style="float:center;">
        {% if png_files_path %}
        <h4 class="eda_heading" style="margin:30px;">GRAPHICAL REPRESENTATION BELOW</h4>
        {% for graph in png_files_path %}
        {% if forloop.counter0|divisibleby:2 %}
        <div class="imgContainer" style="display: flex; justify-content: space-evenly; margin-left:-10%;">
            {% endif %}
            <img class="imgContainerClass" src="../../media/{{ graph }}"
                 style="width: 55%; height: auto; border:groove;">
            {% if forloop.counter|divisibleby:2 or forloop.last %}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    {% if corelation_explanation %}
    <ul>
        {% for explanation in corelation_explanation %}
        <li><label>{{ explanation }}</label></li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <button style="display: block; margin: 5% auto;" type="submit" class="btn btn-primary btn-sm">Start
            Preprocessing
        </button>
    </form>
    <div style="padding-top:10%;" class="flex-center flex-column">
        <h5 class="animated fadeIn mb-3">Ammar Fitwalla - Neo-moment</h5>
    </div>
</div>

<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border-radius: 10px;
    padding: 1.1%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-color: #445e78!important;
    border-top: medium;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

</style>
{% endblock %}

