{% extends "base.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
    <strong>
        {{message}}
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<div class="animated fadeIn text-muted">
    <h3 class="eda_heading">EXPLORATORY DATA ANALYSIS</h3>
    <hr class="solid" style="border-top: 3px dotted #bbb">
    <br>
    <ul>

        <li><label>Your data has <b>{{ df_n_rows }} rows</b> and <b>{{ df_n_cols }} columns</b> </label></li>
        <br>
        <li><label>The column names are: </label>
            {% for col in df_cols %}
            <label><h5><b>{{col}}, </b></h5></label>
            {% endfor %}
        </li>
        <br>
<!--        <h4 class="eda_heading" style="margin:30px;">10 ROWS OF DATASET</h4>-->
        <li><label>Below table shows 10 rows your data</label>
            {% if df_html %}
            <div>
                {% for df in df_html %}
                    {{df | safe}}
                {% endfor %}
            </div>
            {% endif %}
        </li>


        <h4 class="eda_heading" style="margin:30px;">SHORT DESCRIPTION</h4>
            {% if df_describe_html %}
            <div>
                {% for df in df_describe_html %}
                    {{df | safe}}
                {% endfor %}
            </div>
            {% endif %}
    </ul>

    <div class="container" style="float:center;">
        {% if png_files_path %}
        <h4 class="eda_heading" style="margin:30px;">GRAPHICAL REPRESENTATION BELOW</h4>
            {% for graph in png_files_path %}
              {% if forloop.counter0|divisibleby:2 %}
                <div class="imgContainer" style="display: flex; justify-content: space-evenly; margin-left:-10%;">
              {% endif %}
              <img class="imgContainerClass" src="../../media/{{ graph }}" style="width: 60%; height: auto; border:groove;">
              {% if forloop.counter|divisibleby:2 or forloop.last %}
                </div>
              {% endif %}
            {% endfor %}
        {% endif %}

    </div>

    <form method="POST">
        {% csrf_token %}
        <button style="display: block; margin: 5% auto;" type="submit" class="btn btn-primary btn-sm">Start Preprocessing</button>
    </form>
    <div style="padding-top:10%;" class="flex-center flex-column">
        <h5 class="animated fadeIn mb-3">Ammar Fitwalla - Neo-moment</h5>
    </div>
</div>

<style xmlns="http://www.w3.org/1999/html">

.eda_heading{
color: black;
font-family: monospace;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
text-align: center;
}

label{
font-size:20px;
}

.custom-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff8ee;
    text-align-last: center;
}

.custom-table th, .custom-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.custom-table th {
    background-color: #333;
    color: white;
}

@media (max-width: 600px) {
.imgContainer{
    display: flex;
    justify-content: space-evenly;
    margin-left: -10%;
    flex-direction: column;
}

.imgContainerClass{
width: 100%;
height: auto;
border:groove;
}
}

</style>

{% endblock %}

