{% extends "base.html" %}
{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
    <strong>
        {{message}}
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<div>

    {% if project_name %}
    <h3 class="eda_heading">{{ project_name }}</h3>
    {% endif %}

    <form id="form-id-1" class="border mt-5 border-secondary text-center p-3" method="post"
          enctype="multipart/form-data" onsubmit="return checkFileSelection()">
        {% csrf_token %}
        <!--        <h5 class="eda_heading">Bulk Predictions</h5>-->
        <input type="file" name="myFile" id="myFile" class="form-control" accept=".csv" onchange="checkFileSize()">
        <div id="errorContainer" style="color: red;"></div>
        <button type="submit" class="btn btn-primary btn-sm" name="predict_file">Predict</button>
        <h6 style="text-align: left;margin-top: 2%;"><i>
            (Upload a .csv file with the relevant columns and their corresponding data for conducting bulk
            predictions.)</i></h6>
    </form>
    <form id="form-id" class="border mt-5 border-secondary text-center p-3" method="post">
        {% csrf_token %}
        <!--        {% if model_name %}-->
        <!--            <h4>{{model_name}}</h4>-->
        <!--        {% endif %}-->


        {% if col %}
        {% for c,v in col %}
        <div class="form-group">
            <div><h5>{{c}}</h5><input
                    style="width: 50%; display: inline-flex;border-color: #445e78!important;text-align: center;"
                    autocomplete="off" type="text" class="form-control" id="username" name="inputs" value="{{v}}"
                    required></div>
        </div>
        {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary btn-sm" name="predict">Predict</button>
        <h6 style="text-align: left;margin-top: 2%;"><i>(Enter data into the input boxes corresponding to each column
            for personalized data predictions.)</i></h6>
    </form>
    <div id="overlay"
         style="display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.6); z-index: 2; cursor: pointer;">
        <img id="loader" src="{% static 'img/loader_3.gif' %}"
             style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: auto; height: auto; max-width: 100%; max-height: 100%;">
    </div>
    <br>
    {% if predictions %}
    <h4>{{ predictions | safe }}</h4>
    {% endif %}

</div>


<script>
    function checkFileSize() {
    var fileInput = document.getElementById('myFile');
    var fileSize = fileInput.files[0] ? fileInput.files[0].size : 0; // in bytes
    var maxSize = 5 * 1024 * 1024; // 5 MB in bytes
    var errorContainer = document.getElementById('errorContainer');

    // Reset error message
    errorContainer.innerHTML = '';

    if (fileSize > maxSize) {
        errorContainer.innerHTML = 'File size exceeds the limit of 5 MB. Please choose a smaller file.';
        // You can also reset the file input if needed
        fileInput.value = '';
    }
}

function checkFileSelection() {
    var fileInput = document.getElementById('myFile');
    var errorContainer = document.getElementById('errorContainer');

    // Reset error message and hide the loader
    errorContainer.innerHTML = '';
    document.getElementById('overlay').style.display = 'none';

    if (!fileInput.files || fileInput.files.length === 0) {
        errorContainer.innerHTML = 'Please select a CSV file before submitting.';
        // Display error for 5 seconds
        setTimeout(function () {
            errorContainer.innerHTML = '';
        }, 5000);
        return false;
    }

    // Check if the selected file has a .csv extension
    var fileName = fileInput.files[0].name;
    if (!fileName.endsWith('.csv')) {
        errorContainer.innerHTML = 'Please select a valid CSV file.';
        // Display error for 5 seconds
        setTimeout(function () {
            errorContainer.innerHTML = '';
        }, 7000);
        return false;
    }

    // Display the loader only if the file selection is valid
    document.getElementById('overlay').style.display = 'block';

    return true;
}


document.getElementById('form-id').addEventListener('submit', function() {
document.getElementById('overlay').style.display = 'block';
});
window.onload = function() {
document.getElementById('overlay').style.display = 'none';
};
</script>

{% endblock %}
