{% extends "base.html" %}

{% block content %}

<!-- MESSAGE -->
{% if messages %}
{% for message in messages %}
<div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
    <strong>
        {{message}}
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<br>

<div style="width: 100%; margin-bottom:5%; padding:1% 1% 5% 1%;box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);" class="card">

    <h3 class="eda_heading" style="margin-bottom:10px;">PROJECTS</h3>
    <form method="POST">
        {% csrf_token %}
        {% if document_project_name %}
            {% for doc_name, project_name, model_id in document_project_name %}
                {% if forloop.counter0|divisibleby:2 %}
                    <div style="display: flex; justify-content: space-evenly;" class="custom-div">
                {% endif %}
                <div class="card">
                    <h4>{{project_name}}</h4>
                    <div style="display: flex;">
                        <button type="submit" style="width: -webkit-fill-available;" class="btn btn-primary btn-sm" name="test_model_button" value="{{model_id}}">Test Model</button>
                        <button type="submit" style="width: -webkit-fill-available; background-color: #d11a2a!important;" class="btn btn-primary btn-sm" name="test_model_button" value="{{model_id}}_delete"><span class="bi bi-trash"></span>Delete</button>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 or forloop.last %}
                    </div>
                {% endif %}
        {% endfor %}
        {% else %}
            <h4 style="margin-top: 1%;">There are currently no projects to display.</h4>
        {% endif %}
    </form>
</div>

<p class="footer-heart">
  Made with <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
<img class="emoji" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"></g-emoji> | <a href="https://armin.id">ammarfitwalla</a>
</p>

<style>

.card{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.2s;
border-radius: 10px;
margin-top:1%;
padding: 1.1% 1% 0.7% 1%;
border-color: #445e78!important;
border-top: medium;
margin-right: 5px;
margin-left: 5px;
width:48%;
text-align: center;
}
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

</style>

{% endblock %}
