{% extends "base.html" %}

{% block content %}

<div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" id="project_name"
                   name="project_name" placeholder="Enter project name" required>
        </div>
        <button type="submit" name="save_model" class="btn btn-primary btn-sm">Save Project</button>
    </form>
</div>

<p class="footer-heart">
  Made with <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
<img class="emoji" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"></g-emoji> | <a href="https://armin.id">ammarfitwalla</a>
</p>

{% endblock %}
