{% extends "base.html" %}

{% block content %}

<!-- MESSAGE -->
{% if messages %}
{% for message in messages %}
<div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
    <strong>
        {{message}}
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<br>

<form method="post" enctype="multipart/form-data" action="/upload/">
    {% csrf_token %}
    <h2>Upload your file (.csv)</h2>
    <br>
    <div class="form-group">
        <input type="file" name="myFile" class="form-control" accept=".csv">
    </div>

    <button type="submit" name="custom_file" class="btn btn-primary">Upload</button>

    <br>
    <br>

    <div style="margin-top: 3%;" class="form-group">
        <h2>If you don't have your file you can Explore, Analyze, Train and Predict the sample data below.</h2>
    </div>

    <br>
    <br>

    <h4>1. <b>Titanic</b> - Predict whether a passenger in Titanic will survive or not.</h4>
    <div class="buttons" style="margin: 0 auto; display: inline;">
        <button type="submit" name="titanic.csv" class="btn btn-primary">Select</button>
        <button type="submit" name="titanic.csv_download" class="btn btn-primary">Download File</button>

        <br>
        <br>

        <h4>2. <b>Car Purchase</b> - Predict whether a customer will purchase a car or not.</h4>
        <button type="submit" name="car_purchase.csv" class="btn btn-primary">Select</button>
        <button type="submit" name="car_purchase.csv_download" class="btn btn-primary">Download File</button>


        <br>
        <br>

        <h4>3. <b>House Price</b> - Predict California house prices.</h4>
        <button type="submit" name="california_housing.csv" class="btn btn-primary">Select</button>
        <button type="submit" name="california_housing.csv_download" class="btn btn-primary">Download File</button>


        <br>
        <br>

        <h4>4. <b>Salary</b> - Predict Employee Salary based on experience and qualification.</h4>
        <button type="submit" name="salary.csv" class="btn btn-primary">Select</button>
        <button type="submit" name="salary.csv_download" class="btn btn-primary">Download File</button>

    </div>

</form>

{% endblock %}
