{% extends "base.html" %}

{% block content %}

<!-- MESSAGE -->
{% if messages %}
{% for message in messages %}
<div class="alert {{message.tags}} alert-dismissible fade show mb-0" role="alert">
    <strong>
        {{message}}
    </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<form method="post" enctype="multipart/form-data" action="/upload/">
    {% csrf_token %}
    <div class="form-group">
        <input type="file" name="myFile" class="form-control" accept=".csv">
    </div>

    <button type="submit" name="custom_file" class="btn btn-primary">Upload</button>

    <br>
    <br>

    <div class="form-group">
        <h3>--------------------------------- OR ---------------------------------</h3>
    </div>

    <br>

    <div class="form-group">
        <h3>Try out some of sample data</h3>
    </div>

    <br>
    <br>

    <h4>1. Titanic</h4>
    <button type="submit" name="titanic.csv" class="btn btn-primary">Select</button>

    <br>
    <br>

    <h4>2. Predict Customer Purchases Car</h4>
    <button type="submit" name="car_purchase.csv" class="btn btn-primary">Select</button>

    <br>
    <br>

    <h4>3. Predict California House Prices</h4>
    <button type="submit" name="california_housing.csv" class="btn btn-primary">Select</button>

    <br>
    <br>

    <h4>4. Predict Employee Salary</h4>
    <button type="submit" name="salary.csv" class="btn btn-primary">Select</button>

</form>

{% endblock %}