{% extends "base.html" %}

{% block content %}

<!-- MESSAGE -->
{% if messages %}
{% for message in messages %}
<div xmlns="http://www.w3.org/1999/html">
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
        <button type="button" class="close close-button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
{% endfor %}
</div>
{% endfor %}
{% endif %}


<!--<div style="width: 100%; margin-bottom:5%; padding:1% 1% 5% 1%" class="card">-->

    <form method="post" enctype="multipart/form-data" action="/upload/">
        {% csrf_token %}

        <h2 class="eda_heading" >DATASET UPLOAD</h2>
    <!--    <h3>Upload your file (.csv/.xlsx)</h3>-->

        <div class="card">

        <div class="form-group" style="display:flex;align-items: flex-end;">
            <input type="file" name="myFile" class="form-control" accept=".csv"> <h5>&nbsp;&nbsp;(.csv/.xlsx)</h5>
        </div>
        <button type="submit" name="custom_file" class="btn btn-primary">Upload</button>
        </div>

        <div style="margin-top: 2%;" class="form-group">

    <!--    <hr style="border-top: 3px dotted #bbb">-->

        <h2 class="eda_heading">EXISTING DATASET</h2>

        </div>

        <div style="display:inline-flex; width: -webkit-fill-available;">
            <div class="card">
                <h4><b>Titanic</b></h4>
                <h5>Predict whether a passenger in Titanic will survive or not.</h5>
                <div class="buttons" style="margin: 0 auto; display: inline;">
                    <button type="submit" name="titanic.csv" class="btn btn-primary">Upload</button>
                    <button type="submit" name="titanic.csv_download" class="btn btn-primary">Download</button>
                </div>
            </div>

            <div class="card">
                <h4><b>Car Purchase</b></h4>
                <h5>Predict whether a customer will purchase a car or not.</h5>
                <div class="buttons" style="margin: 0 auto; display: inline;">
                    <button type="submit" name="car_purchase.csv" class="btn btn-primary">Upload</button>
                    <button type="submit" name="car_purchase.csv_download" class="btn btn-primary">Download</button>
                </div>
            </div>
        </div>

        <div style="display:inline-flex; width: -webkit-fill-available;">
        <div class="card">
            <h4><b>House Price</b></h4>
            <h5>Predict California house prices.</h5>
            <div class="buttons" style="margin: 0 auto; display: inline;">
                <button type="submit" name="california_housing.csv" class="btn btn-primary">Upload</button>
                <button type="submit" name="california_housing.csv_download" class="btn btn-primary">Download</button>
            </div>
        </div>


        <div class="card">
            <h4><b>Salary</b></h4>
            <h5>Predict Employee Salary based on experience and qualification.</h5>
            <div class="buttons" style="margin: 0 auto; display: inline;">
                <button type="submit" name="salary.csv" class="btn btn-primary">Upload</button>
                <button type="submit" name="salary.csv_download" class="btn btn-primary">Download</button>
            </div>
        </div>

        </div>
    </form>

<p class="footer-heart">
  Made with <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
<img class="emoji" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"></g-emoji> | <a href="https://armin.id">ammarfitwalla</a>
</p>
<!--</div>-->

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  border-radius: 10px;
  padding: 1.1%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom:20px;
  margin-right: 10px;
  border-color: #445e78!important;
  border-top: medium;
  width: -webkit-fill-available;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.close-button {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #000;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.close-button:hover {
  opacity: 1;
}

</style>
{% endblock %}
